@keyframes skeleton-pulse {
  0% { opacity: 0.6; }
  50% { opacity: 1.0; }
  100% { opacity: 0.6; }
}

@define-color skeleton_color alpha(@card_shade_color, 0.8);

.skeleton {
  background-color: @skeleton_color;
  color: transparent;
  animation: skeleton-pulse 1.5s ease-in-out infinite;
}


.container--loaded .card {
  transition: background-color 0.3s ease;
}

.playlist__title-entry--ro {
  background: none;
}

/* Hide scrollbars while the navigation stack's page transition is running */
stack.transitioning scrollbar {
  opacity: 0;
}

.playback-indicator {
  opacity: 1;
  min-width: 16px;
  min-height: 16px;
  color: @accent_bg_color;
  -gtk-icon-source: -gtk-icontheme("playback-0-symbolic");
  animation: playing 1s linear infinite;
}

.now-playing__idle,
.now-playing--idle .now-playing__playing {
  opacity: 0;
  -gtk-icon-transform: scale(0.6);
  transition: opacity 500ms ease-in-out, -gtk-icon-transform 500ms ease-in-out;
}

.now-playing__playing,
.now-playing--idle .now-playing__idle {
  transition: opacity 500ms ease-in-out 200ms, -gtk-icon-transform 500ms ease-in-out 200ms;
}

.now-playing--idle .now-playing__idle {
  opacity: 1;
  -gtk-icon-transform: none;
}

.now-playing--idle .now-playing__playing {
  animation: none;
  -gtk-icon-source: -gtk-icontheme("playback-paused-symbolic");
}

@keyframes playing {
  0% { -gtk-icon-source: -gtk-icontheme("playback-0-symbolic"); }
  6% { -gtk-icon-source: -gtk-icontheme("playback-1-symbolic"); }
  12% { -gtk-icon-source: -gtk-icontheme("playback-2-symbolic"); }
  18% { -gtk-icon-source: -gtk-icontheme("playback-3-symbolic"); }
  24% { -gtk-icon-source: -gtk-icontheme("playback-4-symbolic"); }
  30% { -gtk-icon-source: -gtk-icontheme("playback-5-symbolic"); }
  36% { -gtk-icon-source: -gtk-icontheme("playback-6-symbolic"); }
  42% { -gtk-icon-source: -gtk-icontheme("playback-7-symbolic"); }
  49% { -gtk-icon-source: -gtk-icontheme("playback-8-symbolic"); }
  54% { -gtk-icon-source: -gtk-icontheme("playback-9-symbolic"); }
  60% { -gtk-icon-source: -gtk-icontheme("playback-10-symbolic"); }
  66% { -gtk-icon-source: -gtk-icontheme("playback-11-symbolic"); }
  72% { -gtk-icon-source: -gtk-icontheme("playback-12-symbolic"); }
  79% { -gtk-icon-source: -gtk-icontheme("playback-13-symbolic"); }
  85% { -gtk-icon-source: -gtk-icontheme("playback-14-symbolic"); }
  90% { -gtk-icon-source: -gtk-icontheme("playback-15-symbolic"); }
  96% { -gtk-icon-source: -gtk-icontheme("playback-16-symbolic"); }
  100% { -gtk-icon-source: -gtk-icontheme("playback-0-symbolic"); }
}
